.first::first-letter {
    padding-left: 50px;
    font-size: 50px;
    color: aqua;
}

.second::first-line {
    font-size: 20px;
    color: blue;
}

.third::selection {
    background-color: chartreuse;
    color: blue;
}

.fourth::before {
    content: "😊";
    text-align: center;
    display: block;
    height: 50px;
    width: 50px;
    background-color: aquamarine;
}

.fourth::after {
    content: "😁";
    display: inline;
    height: 30px;
    width: 30px;
    background-color: brown;
}

li::marker {
    content: "💩";
    display: block;
}